@font-face {
  font-family: "Gotham Rounded Book";
  src: url("../font/gotham-rounded-book.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-width: 310px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.page-header {
  overflow: hidden;
  color: #fff;
  background: #1d2631 url("../img/bg-header.jpg") no-repeat 50% 0;
  z-index: -1;
}
.page-header__logo {
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__link {
  font-family: "Gotham Rounded Book", sans-serif;
  font-size: 32px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}
.page-header__slogan {
  width: 250px;
  margin: 0 auto;
  padding: 24px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.page-header__ad {
  float: left;
}
.page-header__ad-img {
  text-align: center;
  margin: 0;
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile-menu__item {
  padding: 15px;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  background-color: #283645;
  box-shadow: 0 1px 5px rgba(72, 84, 97, 0.15);
  list-style: none;
  border-bottom: 1px solid #000;
}
.mobile-menu__item-link {
  text-decoration: none;
  color: #fff;
}
.mobile-menu-open__img {
  float: right;
  padding: 2%;
}

.download-app {
  max-height: 215px;
  padding: 5%;
  color: #fff;
  background-color: #1d2631;
}
.download-app__mobile {
  text-align: center;
}
.download-app__link {
  display: block;
  margin: 0 auto;
  padding: 3%;
  width: 275px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 30px;
}
.download-app__link-mobile {
  display: inline-block;
  padding: 0 6%;
}
.download-app__info {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 4%;
  line-height: 1.7;
}

.features {
  position: relative;
  z-index: -2;
  overflow: hidden;
  padding: 12% 5% 26%;
  background-color: #fff;
}
.features:after {
  position: absolute;
  top: 82%;
  left: 0;
  z-index: -1;
  width: 230%;
  height: 10000px;
  background: #f2f2f2 0 0;
  content: "";
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.features__item {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
  margin: 0 auto;
}
.features__item:last-child {
  padding-top: 5%;
  width: 250px;
}

.advantages {
  max-height: 725px;
  height: 100%;
  overflow: hidden;
  padding: 3% 3% 0;
  text-align: center;
  background-color: #f2f2f2;
}
.advantages__item {
  font-size: 18px;
  font-weight: 700;
  width: 300px;
  margin: 20px auto 10px;
}
.advantages__item-info {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  width: 270px;
  margin: 0 auto;
}
.advantages__item-img {
  margin-top: 40px;
  text-align: center;
}
.advantages__item-img-block {
  display: none;
}

.research {
  display: none;
}

.feedback-slider {
  position: relative;
  z-index: -2;
  max-height: 330px;
  height: 100%;
  overflow: hidden;
  padding: 6%;
  padding-bottom: 20%;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
}
.feedback-slider__item-person {
  font-size: 18px;
  font-weight: 700;
}
.feedback-slider__item-person-info {
  display: none;
}
.feedback-slider__item-info {
  font-size: 14px;
  font-weight: 300;
  width: 95%;
  max-width: 620px;
  margin: 15px auto;
}
.feedback-slider__controls, .buying-options-slider__controls {
  display: block;
  padding: 10px;
  margin-bottom: 30px;
}
.feedback-slider__controls-link, .buying-options-slider__controls-link {
  margin: 5px;
}
.feedback-slider__controls-img--off, .buying-options-slider__controls-img--off {
  padding: 3px;
}
.feedback-slider:after {
  position: absolute;
  top: 85%;
  left: 0;
  z-index: -1;
  width: 105%;
  min-height: 300px;
  height: 100%;
  background: #f2f2f2 0 0;
  content: "";
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.feedback-slider__img-container {
  display: none;
}
.feedback-slider-left-arrow {
  display: none;
}
.feedback-slider-right-arrow {
  display: none;
}

.buying-options-slider-container {
  padding: 9% 6% 1%;
  background-color: #f2f2f2;
}

.buying-options-slider {
  text-transform: uppercase;
}
.buying-options-slider__item-header {
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}
.buying-options-slider__item-img {
  float: left;
}
.buying-options-slider__item-title {
  display: block;
  margin: 0;
  padding: 5% 25% 2%;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.buying-options-slider__item-price {
  display: block;
  margin: 0;
  padding: 0 25% 5%;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.buying-options-slider__item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.buying-options-slider__item-list-item {
  position: relative;
  padding: 20px;
  font-size: 14px;
  background-color: #fff;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}
.buying-options-slider__item-list-item:hover {
  background-color: #e5e5e5;
}
.buying-options-slider__item-list-item--off:after {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url("../img/icon-no.png") no-repeat;
  content: "";
}
.buying-options-slider__item-list-item--on:after {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url("../img/icon-yes.png") no-repeat;
  content: "";
}
.buying-options-slider__controls {
  padding-top: 13%;
  padding-bottom: 2%;
  text-align: center;
}

.buying-options-table {
  display: none;
}

.page-footer {
  height: 564px;
  overflow: hidden;
  text-align: center;
  margin-top: 35px;
}
.page-footer__social {
  display: none;
}
.page-footer__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}
.page-footer__title:nth-child(2) {
  margin-bottom: 25px;
}
.page-footer__item {
  max-width: 300px;
  margin: 17px auto;
}
.page-footer__item-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 900;
}
.page-footer__item-phone, .page-footer__item-email-link, .page-footer__item-address, .page-footer__item-email {
  margin: 0;
  padding: 1% 5% 1%;
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
.page-footer__item-email-link {
  text-decoration: none;
}
.page-footer__item:nth-child(5) {
  margin-bottom: 25px;
}
.page-footer__map-image {
  position: relative;
  height: 100%;
  background: url("../img/bg-footer-map.jpg") 50% -445px no-repeat;
  text-align: center;
}
.page-footer__map-image:before {
  content: "";
  position: absolute;
  top: -4%;
  left: 50%;
  margin-left: -200px;
  border: 200px solid transparent;
  border-top: 40px solid #fff;
}
.page-footer__map-image-container {
  width: 100%;
  height: 190px;
  width: auto;
}

@media (min-width: 321px) and (max-width: 699px) {
  .page-header {
    background: #1d2631 url("../img/bg-header-1x.jpg") no-repeat 50% 0;
  }
}
@media (min-width: 700px) {
  .page-header {
    background: #1d2631 url("../img/bg-header-2x.jpg") no-repeat 65% -40px;
    height: 740px;
  }
  .page-header__logo {
    height: 40px;
    padding: 3% 5%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .page-header__slogan {
    font-size: 40px;
    line-height: 1.2;
    padding: 1%;
    float: left;
    margin-left: 70px;
    margin-top: 90px;
    width: 210px;
  }
  .page-header__ad-img {
    float: right;
    margin-top: -163px;
    margin-right: -15px;
  }

  .download-app {
    background-color: transparent;
    width: 310px;
    margin: 0;
    padding-left: 4%;
    float: left;
    margin-top: -425px;
  }
  .download-app__link {
    margin-bottom: 20px;
  }
  .download-app__info {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin-top: 20px;
  }

  .features__item {
    font-size: 40px;
    line-height: 1.1;
    padding: 0;
    margin-top: -30px;
    height: 20px;
  }
  .features__item:nth-child(2) {
    width: 350px;
    margin-top: -20px;
  }

  .advantages {
    margin: 0 auto;
  }
  .advantages-container {
    width: 300px;
    margin-left: 310px;
  }
  .advantages__item {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .advantages__item-info {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    line-height: 24px;
  }
  .advantages__item-img {
    z-index: 5;
    float: left;
    margin-top: -400px;
  }

  .research {
    display: block;
    width: 90%;
    min-height: 300px;
    margin: 0 auto;
  }
  .research__image {
    float: left;
    padding: 5% 3%;
    margin-top: -55px;
  }
  .research__info {
    width: 48%;
    margin-left: 310px;
    margin-top: 80px;
    padding: 2%;
  }
  .research__info-title {
    font-size: 30px;
    line-height: 36px;
    width: 60%;
    margin: 0;
  }
  .research__info-text {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }
  .research__info-link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }

  .feedback-slider {
    margin-top: 75px;
    width: 100%;
    min-height: 190px;
  }
  .feedback-slider__item {
    position: relative;
  }
  .feedback-slider__item-person {
    position: absolute;
    top: 90px;
    left: 33%;
    font-size: 20px;
    line-height: 30px;
  }
  .feedback-slider__item-person-info {
    position: absolute;
    top: 125px;
    left: 32%;
    display: block;
    color: #283645;
  }
  .feedback-slider__item-info {
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 18px;
    line-height: 30px;
    width: 580px;
    color: #283645;
  }
  .feedback-slider__item-controls {
    position: absolute;
    margin-top: 350px;
  }

  .buying-options-slider {
    display: none;
  }

  .buying-options-slider-container {
    height: 280px;
  }

  .buying-options-table {
    display: table;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-color: #e5e5e5;
    border: none;
  }
  .buying-options-table-head {
    background-color: #283645;
    color: white;
    text-transform: uppercase;
    padding: 2.5% 6%;
  }
  .buying-options-table-head:nth-child(3) {
    background: #283645 url("../img/icon-ribbon-hit.png") -2px -2px no-repeat;
  }
  .buying-options-table-head-title {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    font-weight: bold;
  }
  .buying-options-table-head-price {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
  }
  .buying-options-table-head:first-child {
    background-color: transparent;
    border-top: none;
    border: none;
  }
  .buying-options-table-cell {
    padding: 2%;
    color: #283645;
    border-color: #e5e5e5;
    font-size: 14px;
    background-color: #fff;
  }
  .buying-options-table-cell:not(:first-child) {
    text-align: center;
    background-color: #fff;
  }
  .buying-options-table-cell--on {
    background: url("../img/icon-yes.png") no-repeat 50% 50%;
  }
  .buying-options-table-cell--off {
    background: url("../img/icon-no.png") no-repeat 50% 50%;
  }

  .page-footer {
    height: 990px;
  }
  .page-footer__title {
    font-weight: 300;
    font-size: 40px;
  }
  .page-footer__item {
    margin-top: -10px;
    width: 300px;
    padding: 3%;
    display: inline-block;
  }
  .page-footer__item:nth-child(5) {
    margin-top: -20px;
  }
  .page-footer__map-image {
    z-index: -1;
    height: 700px;
    background: url("../img/bg-footer-map-2x.jpg") 50% -375px no-repeat;
  }
  .page-footer__map-image:before {
    content: "";
    position: absolute;
    top: -7%;
    left: -20%;
    border: 700px solid transparent;
    border-top: 100px solid #fff;
  }
  .page-footer__social {
    display: block;
    margin-top: 283px;
    padding: 5%;
    height: 60px;
    background-color: #ddd;
  }
  .page-footer__social-logo {
    display: inline-block;
  }
  .page-footer__social-icons {
    display: inline-block;
    vertical-align: bottom;
    width: 180px;
    margin-left: 70px;
    margin-top: -100px;
  }
  .page-footer__social-icons-tw {
    display: inline-block;
    width: 52px;
    height: 52px;
  }
  .page-footer__social-icons-fb {
    display: inline-block;
    width: 52px;
    height: 52px;
  }
  .page-footer__social-icons-yt {
    display: inline-block;
    width: 52px;
    height: 52px;
  }
  .page-footer__social-copyright {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: -15px;
  }
  .page-footer__social-copyright-img {
    vertical-align: bottom;
  }
}
@media (min-width: 985px) {
  .page-header__ad {
    display: inline-block;
    margin-top: 250px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    position: relative;
    width: 100%;
    height: 853px;
    background: #1d2631 url("../img/bg-header-3x.jpg") no-repeat 50% 0;
  }
  .page-header__logo {
    padding: 3% 12%;
  }
  .page-header__link {
    display: none;
  }
  .page-header__ad {
    margin-top: -8px;
    float: right;
  }
  .page-header__slogan {
    margin-left: 130px;
    margin-top: 95px;
    font-size: 50px;
    width: 280px;
  }

  .mobile-menu {
    display: block;
  }
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu__item {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    display: inline;
    background-color: transparent;
    border: none;
    display: inline-block;
    margin-top: -100px;
    margin-left: 500px;
    text-transform: none;
    font-weight: 300;
    box-shadow: none;
  }
  .mobile-menu__item:nth-child(1) {
    margin-left: 500px;
  }
  .mobile-menu__item:nth-child(2) {
    margin-left: 680px;
  }
  .mobile-menu__item:nth-child(3) {
    margin-left: 870px;
  }
  .mobile-menu__item:nth-child(4) {
    margin-left: 1000px;
  }

  .download-app {
    margin-top: -460px;
    margin-left: 75px;
  }
  .download-app__link {
    padding: 4%;
    font-size: 21px;
  }
  .download-app__mobile {
    margin: 30px 0;
  }

  .features {
    margin: 0;
    padding: 10% 5% 25%;
    margin-top: -25px;
  }
  .features__item {
    color: #283645;
    font-size: 50px;
  }
  .features__item:last-child {
    width: 500px;
  }
  .features:after {
    position: absolute;
    top: 82%;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 1000px;
    background: #f2f2f2 0 0;
    content: "";
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }

  .advantages {
    margin: 0 auto;
    margin-top: -130px;
    background-color: transparent;
  }
  .advantages-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .advantages__item {
    text-align: center;
    font-size: 30px;
  }
  .advantages__item-info {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
  }
  .advantages__item-container {
    vertical-align: top;
    width: 240px;
    height: 1200px;
    display: inline-block;
  }
  .advantages__item-container:nth-child(2) {
    margin: 0 100px;
  }
  .advantages__item-img-container {
    display: none;
  }
  .advantages__item-img-block {
    display: block;
  }

  .research {
    background-color: #f2f2f2;
    margin-top: -200px;
    width: 100%;
  }
  .research__image {
    padding: 2% 5%;
  }
  .research__info {
    width: 60%;
    margin-left: 380px;
  }
  .research__info-title {
    font-size: 30px;
    padding: 2% 0;
  }
  .research__info-link {
    font-size: 18px;
  }
  .research__info-text {
    font-size: 18px;
  }

  .feedback-slider {
    padding: 0;
    min-height: 340px;
    overflow: hidden;
    width: 1200px;
  }
  .feedback-slider__controls, .buying-options-slider__controls {
    display: none;
  }
  .feedback-slider__item-info {
    width: 100%;
    margin-top: 70px;
    margin-left: 23%;
    display: block;
  }
  .feedback-slider__item-person {
    margin-top: 80px;
    margin-left: 80px;
    font-size: 24px;
    line-height: 30px;
  }
  .feedback-slider__item-person-info {
    font-size: 18px;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 85px;
  }
  .feedback-slider__img-container {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: -60px;
  }
  .feedback-slider-left-arrow {
    display: block;
    float: left;
    margin-top: 70px;
    margin-left: 90px;
  }
  .feedback-slider-right-arrow {
    display: block;
    float: right;
    margin-top: 70px;
    margin-right: 120px;
  }
  .feedback-slider:after {
    position: absolute;
    top: 85%;
    left: 0;
    z-index: -1;
    width: 150%;
    height: 100px;
    background: #f2f2f2 0 0;
    content: "";
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  .buying-options-table {
    overflow: hidden;
    margin-top: -70px;
    max-width: 935px;
  }
  .buying-options-table-head {
    padding: 2%;
  }
  .buying-options-table-head-price {
    font-size: 24px;
    line-height: 30px;
  }
  .buying-options-table-cell {
    padding: 1.5%;
    font-size: 18px;
    line-height: 30px;
    width: 235px;
  }

  .page-footer__title {
    font-size: 50px;
  }
  .page-footer__map-image {
    background: url("../img/bg-footer-map-3x.jpg") 50% bottom no-repeat;
  }
  .page-footer__map-image:before {
    content: "";
    position: absolute;
    top: -5%;
    left: 10%;
    border: 700px solid transparent;
    border-top: 140px solid #fff;
  }
  .page-footer__social {
    padding: 6%;
    height: 65px;
    background-color: #fff;
  }
  .page-footer__social-logo {
    margin: 0;
  }
  .page-footer__social-icons {
    margin: 0 250px;
  }
  .page-footer__social-copyright {
    margin: 0;
  }
}
