@import "_reset";
@import "_normalize";
@font-face {
	font-family: "Gotham Rounded Book";

	src: url("../font/gotham-rounded-book.otf") format("opentype");
}
$header-bg-color: #1d2631;
$advantages-bg-color: #f2f2f2;
$buying-options-list-border-color: #e5e5e5;
$footer-font-color: #d22856;
$features-item-color: #283645;
$font-header-color: #fff;
$mobile-menu-border-color: #000;
$mobile-menu-border-shadow: rgba(72,84,97,.15);
$top-menu-bg-color: rgba(0,0,0,.3);
$font-size-basic: 14px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-weight-light: 300;
$font-weight-regular: 700;
$font-weight-bold: 900;
$line-height-item: 30px;
$wrapper-width: 320px;
$header-height: 460px;
$margin-center: 0 auto;


body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	width: $wrapper-width;
	margin: $margin-center;
}

.page-header {
	height: $header-height;
	overflow: hidden;
	color: $font-header-color;
	background: $header-bg-color url("../img/bg-header.jpg") no-repeat;
	&__logo {
		height: 45px;
		padding: 10px;
		background-color: $top-menu-bg-color;
	}
	&__link {
		padding-left: 5px;
		font-family: "Gotham Rounded Book", sans-serif;
		font-size: 32px;
		line-height: 50px;
		color: $font-header-color;
		text-decoration: none;
	}
	&__slogan {
		width: 250px;
		margin: $margin-center;
		padding: 21px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		text-align: center;
	}
}

.mobile-menu-open__img {
	float: right;
	padding: 10px;
}

.mobile-menu {
	display: none;
	position: absolute;
	width: 320px;
	margin: 0;
	padding: 0;
	&__item {
		padding: 15px;
		font-size: $font-size-large;
		font-weight: $font-weight-bold;
		line-height: 32px;
		text-align: center;
		text-transform: uppercase;
		background-color: $features-item-color;
		box-shadow: 0 1px 5px $mobile-menu-border-shadow;
		list-style: none;
		border-bottom: 1px solid $mobile-menu-border-color;
		border-top: 1px solid #495562;
	}
}

.download-app {
	height: 215px;
	padding: 25px;
	color: $font-header-color;
	background-color: $header-bg-color;
	&__mobile {
		padding: 0 18px;
		text-align: center;
	}
	&__link {
		display: block;
		margin: $margin-center;
		padding: 13px;
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		color: $font-header-color;
		text-align: center;
		text-decoration: none;
		border: 2px solid $font-header-color;
		border-radius: 25px;
		&-mobile {
			display: inline-block;
			margin: 15px;
		}
	}
	&__info {
		font-size: $font-size-basic;
		font-weight: $font-weight-light;
		line-height: 1.6;
		text-align: center;
	}
}

.features {
	position: relative;
	z-index: -2;
	overflow: hidden;
	padding: 10px 10px 55px;
	background-color: $font-header-color;
	&:after {
		position: absolute;
		top: 90%;
		left: 0;
		z-index: -1;
		width: 335px;
		height: 150px;
		background: $advantages-bg-color 0 0;
		content: "";
		transform: rotate(-5deg);
	}
	&__item {
		padding: 8%;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		color: $features-item-color;
		text-align: center;
	}
}

.advantages {
	height: 725px;
	overflow: hidden;
	padding: 20px 25px 0;
	text-align: center;
	background-color: $advantages-bg-color;
	&__item {
		padding: 5%;
		padding-top: 8%;
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		&-info {
			padding-bottom: 5px;
			font-size: $font-size-basic;
			font-weight: $font-weight-light;
			line-height: 1.8em;
		}
		&-img {
			padding-top: 35px;
		}
		&:nth-child(5) {
			padding-top: 11%;
		}
	}
}

.feedback-slider {
	position: relative;
	z-index: -1;
	height: 330px;
	overflow: hidden;
	padding: 6% 8%;
	padding-top: 12%;
	line-height: $line-height-item;
	text-align: center;
	background-color: $font-header-color;
	&__item-person {
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
	}
	&__item-info {
		padding-top: 6%;
		font-size: $font-size-basic;
		font-weight: $font-weight-light;
	}
	&__controls {
		display: block;
		padding: 10px;
		&-link {
			margin: 5px;
		}
		&-img--off {
			padding: 3px;
		}
	}
	&:after {
		position: absolute;
		top: 90%;
		left: 0;
		z-index: -1;
		width: 335px;
		height: 150px;
		background: $advantages-bg-color 0 0;
		content: "";
		transform: rotate(-5deg);
	}
}

.buying-options-slider-container {
	padding: 20px;
	padding-top: 40px;
	background-color: $advantages-bg-color;
}

.buying-options-slider {
	text-transform: uppercase;
	&__item-header {
		padding-bottom: 50px;
		background-color: $features-item-color;
		border-right: 2px solid $buying-options-list-border-color;
		border-left: 2px solid $buying-options-list-border-color;
	}
	&__item-img {
		float: left;
	}
	&__item-title {
		display: block;
		margin: 0;
		padding-top: 15px;
		padding-right: 65px;
		font-size: $font-size-large;
		font-weight: 00;
		line-height: $line-height-item;
		color: $font-header-color;
		text-align: center;
	}
	&__item-price {
		display: block;
		float: right;
		margin: $margin-center;
		padding-top: 5px;
		padding-right: 85px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		line-height: $line-height-item;
		color: $font-header-color;
	}
	&__item-list {
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			position: relative;
			padding: 8%;
			font-size: $font-size-basic;
			background-color: $font-header-color;
			border-right: 2px solid $buying-options-list-border-color;
			border-bottom: 2px solid $buying-options-list-border-color;
			border-left: 2px solid $buying-options-list-border-color;
			&:hover {
				background-color: $buying-options-list-border-color;
			}
			&--off {
				&:after {
					position: absolute;
					top: 15px;
					right: 15px;
					width: 30px;
					height: 30px;
					background: url("../img/icon-no.png") no-repeat;
					content: "";
				}
			}
			&--on {
				&:after {
					position: absolute;
					top: 15px;
					right: 15px;
					width: 30px;
					height: 30px;
					background: url("../img/icon-yes.png") no-repeat;
					content: "";
				}
			}
		}
	}
	&__controls {
		padding-top: 35px;
		padding-bottom: 20px;
		text-align: center;

		@extend .feedback-slider__controls;
		&-link {
			@extend .feedback-slider__controls-link;
		}
		&-img--off {
			@extend .feedback-slider__controls-img--off;
		}
	}
}

.page-footer {
	position: relative;
	height: 605px;
	overflow: hidden;
	text-align: center;
	&__title {
		margin: 0;
		padding-top: 40px;
		padding-bottom: 20px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		color: $features-item-color;
	}
	&__heading {
		margin: 0;
		padding: 3.1%;
		font-size: $font-size-large;
		font-weight: $font-weight-bold;
	}
	&__phone,
	&__address,
	&__email {
		margin: 0;
		padding: 0 20px 25px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		line-height: 1.15;
		color: $footer-font-color;
	}
	&__email-link {
		text-decoration: none;

		@extend .page-footer__phone;
	}
	&__map-image {
		z-index: -2;
		height: 100%;
		background: url("../img/bg-footer-map.jpg") 0 -445px no-repeat;
	}
	&:after {
		position: absolute;
		bottom: -10px;
		left: 0;
		height: 20px;
		content: "";
		border: 161px solid transparent;
		border-top: 35px solid $font-header-color;
	}
}
