@font-face {
	font-family: "Gotham Rounded Book";
	src: url("../font/gotham-rounded-book.otf") format("opentype");
}
$header-bg-color: #1d2631;
$advantages-bg-color: #f2f2f2;
$buying-options-list-border-color: #e5e5e5;
$footer-font-color: #d22856;
$features-item-color: #283645;
$font-header-color: #fff;
$mobile-menu-border-color: #000;
$mobile-menu-border-shadow: rgba(72,84,97,.15);
$top-menu-bg-color: rgba(0,0,0,.3);
$font-size-basic: 14px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-weight-light: 300;
$font-weight-regular: 700;
$font-weight-bold: 900;
$line-height-item: 30px;
$wrapper-width: auto;
$header-height: 460px;
$margin-center: 0 auto;

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	min-width: 300px;
	max-width: 1440px;
	width: $wrapper-width;
	margin: $margin-center;
}

.page-header {
	overflow: hidden;
	color: $font-header-color;
	background: $header-bg-color url("../img/bg-header.jpg") no-repeat 50% 0;
	&__logo {
		height: 45px;
		padding: 2%;
		background-color: $top-menu-bg-color;
	}
	&__link {
		padding-left: 2%;
		font-family: "Gotham Rounded Book", sans-serif;
		font-size: 32px;
		line-height: 50px;
		color: $font-header-color;
		text-decoration: none;
	}
	&__slogan {
		width: 250px;
		margin: $margin-center;
		padding: 24px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		text-align: center;
	}
	&__ad {
		&-img {
			text-align: center;
			margin: 0;
		}
	}
}

.mobile-menu {
	display: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	&__item {
		padding: 15px;
		font-size: $font-size-large;
		font-weight: $font-weight-bold;
		line-height: 32px;
		text-align: center;
		text-transform: uppercase;
		background-color: $features-item-color;
		box-shadow: 0 1px 5px $mobile-menu-border-shadow;
		list-style: none;
		border-bottom: 1px solid $mobile-menu-border-color;
	}
	&-open__img {
		float: right;
		padding: 1.5%;
	}
}

.download-app {
	max-height: 215px;
	padding: 9% 6%;
	color: $font-header-color;
	background-color: $header-bg-color;
	&__mobile {
		text-align: center;
	}
	&__link {
		display: block;
		margin: $margin-center;
		padding: 13px 0;
		width: 275px;
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		color: $font-header-color;
		text-align: center;
		text-decoration: none;
		border: 3px solid $font-header-color;
		border-radius: 30px;
		&-mobile {
			display: inline-block;
			padding: 0 6%;
		}
	}
	&__info {
		margin: 0 auto;
		text-align: center;
		width: 250px;
		font-size: $font-size-basic;
		font-weight: $font-weight-light;
		text-align: center;
		padding: 4%;
		line-height: 1.7;
	}
}

.features {
	position: relative;
	z-index: -2;
	overflow: hidden;
	padding: 12% 5% 26%;
	background-color: $font-header-color;
	&:after {
		position: absolute;
		top: 82%;
		left: 0;
		z-index: -1;
		width: 230%;
		height: 10000px;
		background: $advantages-bg-color 0 0;
		content: "";
		transform: rotate(-5deg);
		}
	&__item {
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		color: $features-item-color;
		text-align: center;
		margin: 0 auto;
		&:last-child {
			padding-top: 5%;
			width: 250px;
		}
	}
}

.advantages {
	max-height: 725px;
	height: 100%;
	overflow: hidden;
	padding: 3% 3% 0;
	text-align: center;
	background-color: $advantages-bg-color;
	&__item {
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		width: 300px;
		margin: 20px auto 10px;
		&-info {
			padding-bottom: 5px;
			font-size: $font-size-basic;
			font-weight: $font-weight-light;
			line-height: 1.8;
			width: 270px;
			margin: 0 auto;
		}
		&-img {
			margin-top: 40px;
			text-align: center;
		}
	}
}

.research {
	display: none;
}

.feedback-slider {
	position: relative;
	z-index: -2;
	max-height: 330px;
	height: 100%;
	overflow: hidden;
	padding: 6%;
	padding-bottom: 20%;
	line-height: $line-height-item;
	text-align: center;
	background-color: $font-header-color;
	&__item-person {
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		&-info {
			display: none;
		}
	}
	&__item-info {
		font-size: $font-size-basic;
		font-weight: $font-weight-light;
		width: 95%;
		max-width: 620px;
		margin: 15px auto;
	}
	&__controls {
		display: block;
		padding: 10px;
		margin-bottom: 30px;
		&-link {
			margin: 5px;
		}
		&-img--off {
			padding: 3px;
		}
	}
	&:after {
		position: absolute;
		top: 85%;
		left: 0;
		z-index: -1;
		width: 105%;
		min-height: 300px;
		height: 100%;
		background: $advantages-bg-color 0 0;
		content: "";
		transform: rotate(-3deg);
	}
}

.buying-options-slider-container {
	padding: 9% 6% 1%;
	background-color: $advantages-bg-color;
}

.buying-options-slider {
	text-transform: uppercase;
	&__item-header {
		background-color: $features-item-color;
		border-right: 2px solid $buying-options-list-border-color;
		border-left: 2px solid $buying-options-list-border-color;
	}
	&__item-img {
		float: left;
	}
	&__item-title {
		display: block;
		margin: 0;
		padding: 5% 25% 2%;
		font-size: $font-size-large;
		line-height: $line-height-item;
		color: $font-header-color;
		text-align: center;
	}
	&__item-price {
		display: block;
		margin: 0;
		padding: 0 25% 5%;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		line-height: $line-height-item;
		color: $font-header-color;
		text-align: center;
	}
	&__item-list {
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			position: relative;
			padding: 20px;
			font-size: $font-size-basic;
			background-color: $font-header-color;
			border-right: 2px solid $buying-options-list-border-color;
			border-bottom: 2px solid $buying-options-list-border-color;
			border-left: 2px solid $buying-options-list-border-color;
			&:hover {
				background-color: $buying-options-list-border-color;
			}
			&--off {
				&:after {
					position: absolute;
					top: 15px;
					right: 15px;
					width: 30px;
					height: 30px;
					background: url("../img/icon-no.png") no-repeat;
					content: "";
				}
			}
			&--on {
				&:after {
					position: absolute;
					top: 15px;
					right: 15px;
					width: 30px;
					height: 30px;
					background: url("../img/icon-yes.png") no-repeat;
					content: "";
				}
			}
		}
	}
	&__controls {
		padding-top: 13%;
		padding-bottom: 2%;
		text-align: center;

		@extend .feedback-slider__controls;
		&-link {
			@extend .feedback-slider__controls-link;
		}
		&-img--off {
			@extend .feedback-slider__controls-img--off;
		}
	}
}
.buying-options-table {
	display: none;
}

.page-footer {
	height: 564px;
	overflow: hidden;
	text-align: center;
	margin-top: 35px;
	&__social {
		display: none;
	}
	&__title {
		margin: 0;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		color: $features-item-color;
		&:nth-child(2) {
			margin-bottom: 25px;
		}
	}
	&__item {
		max-width: 300px;
		margin: 17px auto;
		&-heading {
			margin: 0;
			padding: 0;
			font-size: $font-size-large;
			font-weight: $font-weight-bold;
		}
		&-phone,
		&-address,
		&-email {
			margin: 0;
			padding: 1% 5% 1%;
			font-size: $font-size-x-large;
			font-weight: $font-weight-light;
			color: $footer-font-color;
		}
		&-email-link {
			text-decoration: none;
			@extend .page-footer__item-phone;
		}
		&:nth-child(5) {
			margin-bottom: 25px;
		}
	}
	
	&__map-image {
		position: relative;
		height: 100%;
		background: url("../img/bg-footer-map.jpg") 50% -445px no-repeat;
		text-align: center;
		&:before {
			content: "";
			position: absolute;
			top: -4%;
			left: 50%;
			margin-left: -200px;
			border: 200px solid transparent;
			border-top: 40px solid $font-header-color;
		}
		&-container {
			width: 100%;
			height: 190px;
			width: auto;
		}
	}
}

@media (min-width: 321px) and (max-width: 699px) {
	.page-header {
		background: $header-bg-color url("../img/bg-header-1x.jpg") no-repeat 50% 0;
	}
}

@media (min-width: 700px) {
	.page-header {
		background: $header-bg-color url("../img/bg-header-2x.jpg") no-repeat 65% -40px;
		height: 740px;
		&__logo {
			height: 40px;
			padding: 5%;
			background-color: $top-menu-bg-color;
		}
		&__slogan {
			font-size: 40px;
			line-height: 1.2;
			padding: 1%;
			float: left;
			margin-left: 70px;
			margin-top: 90px;
			width: 210px;
		}
		&__ad {
			&-img {
				float: right;
				margin-top: -163px;
				margin-right: -15px;
			}
		}
	}
	.download-app {
		background-color: transparent;
		width: 310px;
		margin: 0;
		padding-left: 4%;
		float: left;
		margin-top: -425px;
		&__link {
			margin-bottom: 20px;
		}

		&__info {
			font-size: 18px;
			line-height: 24px;
			width: 100%;
			margin-top: 20px;
		}
	}
	.features {
		&__item {
			font-size: 40px;
			line-height: 1.1;
			padding: 0;
			margin-top: -30px;
			height: 20px;
			&:nth-child(2) {
				width: 350px;
				margin-top: -20px;
			}
		}
	}
	.advantages {
		&-container {
			width: 300px;
			margin-left: 310px;
		}
		&__item {
			text-align: left;
			padding-left: 0;
			margin-left: 0;
			width: 100%;
			&-info {
				text-align: left;
				padding-left: 0;
				margin-left: 0;
				width: 100%;
				line-height: 24px;
			}
			&-img {
				z-index: 5;
				float: left;
				margin-top: -400px;
			}
		}
	}
	.research {
		display: block;
		&__image {
			float: left;
			padding: 5%;
			margin-top: -55px;
		}
		&__info {
			width: 305px;
			margin-left: 330px;
			margin-top: 80px;
			padding: 2%;
			&-title {
				font-size: 30px;
				line-height: 36px;
				width: 200px;
				margin: 0;
			}
			&-text {
				font-size: 14px;
				line-height: 24px;
				width: 100%;
			}
			&-link {
				font-size: 14px;
				line-height: 24px;
				color: #d22856;
			}
		}
	}
	.feedback-slider {
		margin-top: 75px;
		width: 100%;
		min-height: 190px;
		&__item {
			position: relative;
			&-person {
				position: absolute;
				top: 90px;
				left: 33%;
				font-size: 20px;
				line-height: 30px;
				&-info {
					position: absolute;
					top: 125px;
					left: 32%;
					display: block;
					color: #283645;
				}
			}
			&-info {
				position: absolute;
				top: -30px;
				left: 0;
				font-size: 18px;
				line-height: 30px;
				width: 580px;
				color: #283645;
			}
			&-controls {
				position: absolute;
				margin-top: 350px;
			}
		}
	}
	.buying-options-slider {
		display: none;
	}
	.buying-options-slider-container {
		height: 280px;
	}
	.buying-options-table {
		display: table;
		width: 100%;
		margin: 0 auto;
		border-collapse: collapse;
		border-color: $buying-options-list-border-color;
		border: none;
		&-head {
			background-color: $features-item-color;
			color: white;
			text-transform: uppercase;
			padding: 2.5% 6%;
			&:nth-child(3) {
				background: $features-item-color url("../img/icon-ribbon-hit.png") -2px -2px no-repeat;
			}
			&-title {
				font-size: 16px;
				line-height: 30px;
				margin: 0;
				font-weight: bold;
			}
			&-price {
				font-weight: 300;
				font-size: 18px;
				margin: 0;
			}
			&:first-child {
				background-color: transparent;
				border-top: none;
				border: none;
			}
		}
		&-row {
		}
		&-cell {
			padding: 2%;
			color: $features-item-color;
			border-color: $buying-options-list-border-color;
			font-size: 14px;
			background-color: #fff;
			&:not(:first-child) {
				text-align: center;
				background-color: #fff;
			}
			&--on {
				background: url("../img/icon-yes.png") no-repeat 50% 50%;
			}
			&--off {
				background: url("../img/icon-no.png") no-repeat 50% 50%;
			}
		}
	}
	.page-footer {
		height: 990px;
		&__title {
			font-weight: 300;
			font-size: 40px;
		}
		&__item {
			margin-top: -10px;
			width: 300px;
			padding: 3%;
			display: inline-block;
			&:nth-child(5) {
				margin-top: -20px;
			}
		}
		&__map-image {
			z-index: -1;
			height: 700px;
			background: url("../img/bg-footer-map-2x.jpg") 50% -375px no-repeat;
			&:before {
				content: "";
				position: absolute;
				top: -7%;
				left: -20%;
				border: 700px solid transparent;
				border-top: 100px solid $font-header-color;
			}
		}
		&__social {
			display: block;
			margin-top: 283px;
			padding: 5%;
			height: 60px;
			background-color: #ddd;
			&-logo {
				display: inline-block;
			}
			&-icons {
				display: inline-block;
				vertical-align: bottom;
				width: 180px;
				margin-left: 70px;
				margin-top: -100px;
				&-tw {
					display: inline-block;
					width: 52px;
					height: 52px;
				}
				&-fb {
					display: inline-block;
					width: 52px;
					height: 52px;
				}
				&-yt {
					display: inline-block;
					width: 52px;
					height: 52px;
				}
			}
			&-copyright {
				display: inline-block;
				vertical-align: top;
				margin-left: 50px;
				margin-top: -15px;
				&-img {
					vertical-align: bottom;
				}
			}
		}
	}
}
