
@font-face {
	font-family: "Gotham Rounded Book";
	src: url("../font/gotham-rounded-book.otf") format("opentype");
}
$header-bg-color: #1d2631;
$advantages-bg-color: #f2f2f2;
$buying-options-list-border-color: #e5e5e5;
$footer-font-color: #d22856;
$features-item-color: #283645;
$font-size-basic: 14px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-weight-light: 300;
$font-weight-regular: 700;
$font-weight-bold: 900;
$wrapper-width: 320px;
$header-height: 460px;
$margin-center: 0 auto;

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	width: $wrapper-width;
	margin: $margin-center;
}

.page-header {
	height: $header-height;
	overflow: hidden;
	color: #fff;
	background: $header-bg-color url("../img/bg-header.jpg") no-repeat;
	&__logo {
		height: 45px;
		padding: 10px;
		background-color: rgba(0,0,0,.3);
	}
	&__link {
		padding-left: 5px;
		font-family: "Gotham Rounded Book", sans-serif;
		font-size: 32px;
		line-height: 50px;
		color: #fff;
		text-decoration: none;
	}
	&__slogan {
		width: 250px;
		margin: $margin-center;
		padding: 21px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		text-align: center;
	}
}

.mobile-menu-open__img {
	float: right;
	padding: 10px;
}

.mobile-menu {
	display: none;
}

.download-app {
	height: 220px;
	padding: 25px;
	color: #fff;
	background-color: $header-bg-color;
	&__mobile {
		padding: 0 18px;
		text-align: center;
	}
	&__link {
		display: block;
		margin: $margin-center;
		padding: 13px;
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border: 2px solid #fff;
		border-radius: 25px;
		&-mobile {
			display: inline-block;
			margin: 15px;
		}
	}
	&__info {
		font-size: $font-size-basic;
		font-weight: $font-weight-light;
		text-align: center;
	}
}

.features {
	padding: 10px;
	background-color: #fff;
	&__item {
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		text-align: center;
		color: $features-item-color;
	}
}

.advantages {
	height: 725px;
	overflow: hidden;
	padding: 65px 25px 0;
	text-align: center;
	background-color: $advantages-bg-color;
	&__item {
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
		&-info {
			padding-bottom: 5px;
			font-size: $font-size-basic;
			font-weight: $font-weight-light;
			line-height: 1.8em;
		}
		&-img {
			padding-top: 18px;
		}
	}
}

.feedback-slider {
	height: 330px;
	padding: 25px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	&__item-person {
		font-size: $font-size-large;
		font-weight: $font-weight-regular;
	}
	&__item-info {
		font-size: $font-size-basic;
		font-weight: $font-weight-light;
	}
	&__controls {
		display: block;
		padding: 10px;
		&-link {
			margin: 5px;
		}
		&-img--off {
			padding: 3px;
		}
	}
}

.buying-options-slider-container {
	padding: 20px;
	padding-top: 70px;
	background-color: $advantages-bg-color;
}

.buying-options-slider {
	text-transform: uppercase;
	&__item-header {
		padding-bottom: 50px;
		background-color: $features-item-color;
		border-right: 2px solid $buying-options-list-border-color;
		border-left: 2px solid $buying-options-list-border-color;
	}
	&__item-img {
		float: left;
	}
	&__item-title {
		display: block;
		margin: 0;
		padding-top: 15px;
		padding-right: 65px;
		font-size: $font-size-large;
		font-weight: 00;
		line-height: 30px;
		color: #fff;
		text-align: center;
	}
	&__item-price {
		display: block;
		float: right;
		margin: $margin-center;
		padding-top: 5px;
		padding-right: 85px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		line-height: 30px;
		color: #fff;
	}
	&__item-list {
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			padding: 20px;
			font-size: $font-size-basic;
			background-color: #fff;
			border-right: 2px solid $buying-options-list-border-color;
			border-bottom: 2px solid $buying-options-list-border-color;
			border-left: 2px solid $buying-options-list-border-color;
			&:after {
				display: block;
				float: right;
				width: 30px;
				height: 30px;
				background: url("../img/icon-yes.png") no-repeat;
				content: "";
			}
		}
	}
	&__controls {
		padding-top: 35px;
		padding-bottom: 20px;
		text-align: center;

		@extend .feedback-slider__controls;
		&-link {
			@extend .feedback-slider__controls-link;
		}
		&-img--off {
			@extend .feedback-slider__controls-img--off;
		}
	}
}

.page-footer {
	height: 200px;
	text-align: center;
	&__title {
		margin: 0;
		padding-top: 40px;
		padding-bottom: 20px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		color: $features-item-color;
	}
	&__heading {
		margin: 0;
		padding: 0;
		font-size: $font-size-large;
		font-weight: $font-weight-bold;
	}
	&__phone,
	&__address,
	&__email {
		margin: 0;
		padding: 0 20px 25px;
		font-size: $font-size-x-large;
		font-weight: $font-weight-light;
		color: $footer-font-color;
	}
	&__email-link {
		text-decoration: none;
		@extend .page-footer__phone;
	}
	&__map-image {
		height: 100%;
		background: green url("../img/bg-footer-map.jpg") 0 100% no-repeat;
	}
}
